@page "/faq"
@rendermode InteractiveServer

<PageTitle>FAQ</PageTitle>

<h1>Foire aux questions</h1>

<Accordion OnOpen="() => AccordionManager.Open(0)" IsOpen="AccordionManager.isOpen(0)" Title="Section 1">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</Accordion>

<Accordion OnOpen="() => AccordionManager.Open(1)" IsOpen="AccordionManager.isOpen(1)" Title="Section 2">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</Accordion>

<Accordion OnOpen="() => AccordionManager.Open(2)" IsOpen="AccordionManager.isOpen(2)" Title="Section 3">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</Accordion>

@code {
	private AccordionManager AccordionManager = new();
}