@page "/starship"

<h3>Exemple de formulaire en utilisant l'élément @("<form>")</h3>

<StarshipPlainForm />

<h3>Exemple de formulaire en utilisant le composant Blazor @("<EditForm>")</h3>

<StarshipForm />

@code {

}
